.titles{
    margin-top: 120px;
}
.spans{
    color: brown;
    font-size: 35px;
}
.akfj{
    font-size: 25px;
    color: crimson;
    font-weight: bold;

}
.tile{
    font-size: 25px;
    font-weight: 700;
}