.title-footer{
    text-align: center;
    font-size: 25px;
}
footer{
    background: #222;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    color: limegreen;
}
.div{
    align-items: center;
    justify-content: center;

}
.footer-grid{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-icon{
    font-size: 50px;
    size: 100px;
    color: rgb(255, 255, 255);
}
.social a{
    padding: 10px;
}
@media only screen and (max-width:830px) {
    .footer-grid{
        grid-template-columns: repeat(1,1fr);
    }
}
